{
  "openapi": "3.1.0",
  "info": {
    "title": "AgenticGraph Machine Payment Protocol",
    "version": "2026-01-30",
    "description": "Machine-readable payable-operation discovery for AgenticGraph commerce routes."
  },
  "servers": [
    {
      "url": "https://airvio.co"
    }
  ],
  "paths": {
    "/api/payments/commerce/x402": {
      "get": {
        "operationId": "getAgenticGraphX402PaymentRequirement",
        "summary": "Return x402 payment requirements for an agent-readable paid resource.",
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": "$0.001",
          "currency": "usdc"
        },
        "responses": {
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/checkout/sessions": {
      "post": {
        "operationId": "createAgenticGraphCommerceCheckoutSession",
        "summary": "Create an agentic commerce checkout session.",
        "x-payment-info": {
          "intent": "session",
          "method": "stripe",
          "amount": "dynamic",
          "currency": "request.currency"
        },
        "responses": {
          "201": {
            "description": "Checkout session created"
          }
        }
      }
    },
    "/api/payments/commerce/solana-pay/settle": {
      "post": {
        "operationId": "settleAgenticGraphSolanaPayCheckoutSession",
        "summary": "Settle an agentic commerce checkout session from a verified Solana Pay transaction signature.",
        "x-payment-info": {
          "intent": "settlement",
          "method": "solana_pay",
          "amount": "dynamic",
          "currency": "request.currency"
        },
        "responses": {
          "200": {
            "description": "Solana Pay session settled"
          },
          "409": {
            "description": "Solana Pay transaction is not confirmed yet"
          },
          "422": {
            "description": "Solana Pay transaction does not match the session"
          }
        }
      }
    }
  }
}