{
  "openapi": "3.1.0",
  "info": {
    "title": "Knowgrph API",
    "version": "0.1.0",
    "description": "Agent discovery surface for the Knowgrph Cloudflare deployment."
  },
  "servers": [
    {
      "url": "https://airvio.co",
      "description": "Knowgrph Cloudflare deployment"
    }
  ],
  "paths": {
    "/knowgrph/health": {
      "get": {
        "summary": "Read the Knowgrph agent-ready health status",
        "responses": {
          "200": {
            "description": "Health status in application/health+json format"
          }
        }
      }
    },
    "/knowgrph/mcp": {
      "get": {
        "summary": "Read MCP transport metadata",
        "responses": {
          "200": {
            "description": "MCP transport metadata"
          }
        }
      },
      "post": {
        "summary": "Send a JSON-RPC MCP request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result payload"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-card.json": {
      "get": {
        "summary": "Read the Knowgrph A2A Agent Card",
        "responses": {
          "200": {
            "description": "A2A Agent Card JSON"
          }
        }
      }
    },
    "/api/storage/llms.txt": {
      "get": {
        "summary": "Read the Source Files LLM index",
        "responses": {
          "200": {
            "description": "Plain-text LLM index"
          }
        }
      }
    },
    "/api/storage/source-files": {
      "get": {
        "summary": "List published Source Files",
        "responses": {
          "200": {
            "description": "Source Files index"
          }
        }
      }
    },
    "/api/storage/doc-default/{canonicalPath}": {
      "get": {
        "summary": "Read a default-workspace Source File markdown document",
        "parameters": [
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document from the default Editor Workspace"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/api/storage/doc/{workspaceId}/{canonicalPath}": {
      "get": {
        "summary": "Read a Source File markdown document",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    }
  }
}