{
  "openapi": "3.1.0",
  "info": {
    "title": "Knowgrph API",
    "version": "0.1.0",
    "description": "Agent discovery surface for the Knowgrph Cloudflare deployment."
  },
  "servers": [
    {
      "url": "https://airvio.co",
      "description": "Knowgrph Cloudflare deployment"
    }
  ],
  "paths": {
    "/knowgrph/health": {
      "get": {
        "summary": "Read the Knowgrph agent-ready health status",
        "responses": {
          "200": {
            "description": "Health status in application/health+json format"
          }
        }
      }
    },
    "/knowgrph/mcp": {
      "get": {
        "summary": "Read MCP transport metadata",
        "responses": {
          "200": {
            "description": "MCP transport metadata"
          }
        }
      },
      "post": {
        "summary": "Send a JSON-RPC MCP request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result payload"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-card.json": {
      "get": {
        "summary": "Read the Knowgrph A2A Agent Card",
        "responses": {
          "200": {
            "description": "A2A Agent Card JSON"
          }
        }
      }
    },
    "/api/storage/llms.txt": {
      "get": {
        "summary": "Read the Source Files LLM index",
        "responses": {
          "200": {
            "description": "Plain-text LLM index"
          }
        }
      }
    },
    "/api/storage/source-files": {
      "get": {
        "summary": "List published Source Files",
        "responses": {
          "200": {
            "description": "Source Files index"
          }
        }
      }
    },
    "/api/storage/source-files/{workspaceId}": {
      "get": {
        "summary": "List published Source Files for a workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace-scoped Source Files index"
          }
        }
      }
    },
    "/api/storage/source-files/{workspaceId}/llms.txt": {
      "get": {
        "summary": "Read the workspace-scoped Source Files LLM index",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace-scoped plain-text LLM index"
          }
        }
      }
    },
    "/api/storage/doc-default/{canonicalPath}": {
      "get": {
        "summary": "Read a default-workspace Source File markdown document",
        "parameters": [
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document from the default Editor Workspace"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/api/storage/doc/{workspaceId}/{canonicalPath}": {
      "get": {
        "summary": "Read a Source File markdown document",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/knowgrph/doc-default/{canonicalPath}": {
      "get": {
        "summary": "Read a default-workspace shared document",
        "parameters": [
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/knowgrph/doc/{workspaceId}/{canonicalPath}": {
      "get": {
        "summary": "Read a shared document",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/knowgrph/share/{shareToken}": {
      "get": {
        "summary": "Read a shared document through the canonical opaque share token route",
        "parameters": [
          {
            "name": "shareToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or published markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-agent-ready.md": {
      "get": {
        "summary": "Read the knowgrph-agent-ready agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-agent-ready"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-chat-to-canvas.md": {
      "get": {
        "summary": "Read the knowgrph-chat-to-canvas agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-chat-to-canvas"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-commerce-readiness.md": {
      "get": {
        "summary": "Read the knowgrph-commerce-readiness agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-commerce-readiness"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-mcp-local.md": {
      "get": {
        "summary": "Read the knowgrph-mcp-local agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-mcp-local"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-research-visual.md": {
      "get": {
        "summary": "Read the knowgrph-research-visual agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-research-visual"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-source-files.md": {
      "get": {
        "summary": "Read the knowgrph-source-files agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-source-files"
          }
        }
      }
    },
    "/knowgrph/.well-known/agent-skills/knowgrph-strybldr.md": {
      "get": {
        "summary": "Read the knowgrph-strybldr agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for knowgrph-strybldr"
          }
        }
      }
    }
  }
}