{
  "openapi": "3.1.0",
  "info": {
    "title": "agentic-graph API",
    "version": "0.1.0",
    "description": "Agent discovery surface for the agentic-graph Cloudflare deployment."
  },
  "servers": [
    {
      "url": "https://airvio.co",
      "description": "agentic-graph Cloudflare deployment"
    }
  ],
  "paths": {
    "/agentic-graph/health": {
      "get": {
        "summary": "Read the agentic-graph agent-ready health status",
        "responses": {
          "200": {
            "description": "Health status in application/health+json format"
          }
        }
      }
    },
    "/agentic-graph/mcp": {
      "get": {
        "summary": "Read MCP transport metadata",
        "responses": {
          "200": {
            "description": "MCP transport metadata"
          }
        }
      },
      "post": {
        "summary": "Send a JSON-RPC MCP request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result payload"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-card.json": {
      "get": {
        "summary": "Read the agentic-graph A2A Agent Card",
        "responses": {
          "200": {
            "description": "A2A Agent Card JSON"
          }
        }
      }
    },
    "/api/storage/llms.txt": {
      "get": {
        "summary": "Read the Source Files LLM index",
        "responses": {
          "200": {
            "description": "Plain-text LLM index"
          }
        }
      }
    },
    "/api/storage/content-manifest.json": {
      "get": {
        "summary": "Read the Markdown-first published content manifest",
        "responses": {
          "200": {
            "description": "Editor Workspace source paths with canonical HTML and Markdown projections"
          }
        }
      }
    },
    "/api/storage/source-files": {
      "get": {
        "summary": "List published Source Files",
        "responses": {
          "200": {
            "description": "Source Files index"
          }
        }
      }
    },
    "/api/storage/source-files/{workspaceId}": {
      "get": {
        "summary": "List published Source Files for a workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace-scoped Source Files index"
          }
        }
      }
    },
    "/api/storage/source-files/{workspaceId}/llms.txt": {
      "get": {
        "summary": "Read the workspace-scoped Source Files LLM index",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace-scoped plain-text LLM index"
          }
        }
      }
    },
    "/api/storage/doc-default/{canonicalPath}": {
      "get": {
        "summary": "Read a default-workspace Source File markdown document",
        "parameters": [
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document from the default Editor Workspace"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/api/storage/doc/{workspaceId}/{canonicalPath}": {
      "get": {
        "summary": "Read a Source File markdown document",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/api/storage/blob/{workspaceId}/{canonicalPath}": {
      "post": {
        "summary": "Store a workspace binary artifact in R2",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "R2 object coordinates and public storage route"
          },
          "400": {
            "description": "Invalid workspace, path, or declared payload size"
          }
        }
      },
      "get": {
        "summary": "Read a workspace binary artifact from R2",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary artifact body with stored HTTP metadata"
          },
          "404": {
            "description": "Object not found"
          }
        }
      },
      "head": {
        "summary": "Read workspace binary artifact metadata from R2",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary artifact metadata"
          },
          "404": {
            "description": "Object not found"
          }
        }
      }
    },
    "/agentic-graph/doc-default/{canonicalPath}": {
      "get": {
        "summary": "Read a default-workspace shared document",
        "parameters": [
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/agentic-graph/doc/{workspaceId}/{canonicalPath}": {
      "get": {
        "summary": "Read a shared document",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "canonicalPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/agentic-graph/share/{shareToken}": {
      "get": {
        "summary": "Read a shared document through the canonical opaque share token route",
        "parameters": [
          {
            "name": "shareToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML for browsers or published markdown when Accept includes text/markdown"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-agent-ready.md": {
      "get": {
        "summary": "Read the agentic-graph-agent-ready agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-agent-ready"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-ai-showrunner.md": {
      "get": {
        "summary": "Read the agentic-graph-ai-showrunner agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-ai-showrunner"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-ai-voice-studio.md": {
      "get": {
        "summary": "Read the agentic-graph-ai-voice-studio agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-ai-voice-studio"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-application-composition.md": {
      "get": {
        "summary": "Read the agentic-graph-application-composition agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-application-composition"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-chat-to-canvas.md": {
      "get": {
        "summary": "Read the agentic-graph-chat-to-canvas agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-chat-to-canvas"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-commerce-readiness.md": {
      "get": {
        "summary": "Read the agentic-graph-commerce-readiness agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-commerce-readiness"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-html-video-renderer.md": {
      "get": {
        "summary": "Read the agentic-graph-html-video-renderer agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-html-video-renderer"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-mcp-local.md": {
      "get": {
        "summary": "Read the agentic-graph-mcp-local agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-mcp-local"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-memory-layer.md": {
      "get": {
        "summary": "Read the agentic-graph-memory-layer agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-memory-layer"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-research-visual.md": {
      "get": {
        "summary": "Read the agentic-graph-research-visual agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-research-visual"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-source-files.md": {
      "get": {
        "summary": "Read the agentic-graph-source-files agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-source-files"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-strybldr.md": {
      "get": {
        "summary": "Read the agentic-graph-strybldr agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-strybldr"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-video-agent.md": {
      "get": {
        "summary": "Read the agentic-graph-video-agent agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-video-agent"
          }
        }
      }
    },
    "/agentic-graph/.well-known/agent-skills/agentic-graph-visual-annotation-engine.md": {
      "get": {
        "summary": "Read the agentic-graph-visual-annotation-engine agent skill markdown",
        "responses": {
          "200": {
            "description": "Agent skill markdown for agentic-graph-visual-annotation-engine"
          }
        }
      }
    }
  }
}